body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    color: #bc44c4;
    text-align: center;
    margin-bottom: 20px;
}

.explainer {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    color: #bc44c4;
    text-align: left;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #bc44c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9a3aa5;
}


.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

#lake-frequencies label {
    display: block;
    margin-top: 10px;
}

#lake-frequencies select {
    display: block;
    margin-bottom: 10px;
}